.events-card {
    border: 2px solid var(--font-color);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
}

.events-card * {
    padding: 0.2rem;
}

.events-card a:link,
.events-card a:visited {
    text-decoration: none;
    color: inherit;
}

.events-card .title {
    font-size: 2rem;
}

.events-card img {
    opacity: 0.4;
    border-radius: 1rem;
    border: 2px solid var(--flair);
    height: 150px;
}

.events-card .price {
    font-size: 2rem;
}

.events-card .location {
    border-radius: 1rem;
    border: 2px solid var(--font-color);
}