.event {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.event img {
    border-radius: 1rem;
    border: 2px solid var(--flair);
}

.event img,
.event .placeholder {
    height: 300px
}

.event * {
    padding: 0.2rem ;
}

.event .title {
    font-size: 3rem;
}

.event .location {
    width: clamp(150px, 30%, 250px);
    justify-self: center;
}

.add-ticket {
    width: 5rem;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    .event img {
        width: 300px;
        height: auto;
    }
}