.events-card {
    border: 2px solid var(--font-color);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
}

.events-card * {
    padding: 0.2rem;
}

.events-card a:link,
.events-card a:visited {
    text-decoration: none;
    color: inherit;
}

.events-card .title {
    font-size: 3rem;
}

.events-card .price {
    font-size: 2rem;
}

.events-card .edit {
    border: 1px solid var(--font-color);
    border-radius: 0.3rem;
    box-shadow: -2px 2px 2px black;
}

.events-card img {
    width: 200px;
    border-radius: 1rem;
    border: 2px solid var(--flair);
    height: 150px;
}

.location {
    border-radius: 1rem;
    border: 2px solid var(--font-color);
}