.ticket-card {
    color: var(--font-color);
    text-align: center;
    border: 2px solid var(--font-color);
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 1rem;
}

.ticket-card:hover {
    box-shadow: var(--box-shadow)
}

.ticket-card * {
    padding: 0.2rem;
}

.ticket-card img {
    width: 200px;
    border-radius: 1rem;
    border: 2px solid var(--flair);
    height: 150px;
}

.ticket-card .location {
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.ticket-card .title {
    font-size: 2rem;
}

.ticket-card .total-tickets {
    padding: 1rem;
    font-size: 1.5rem;
}

.ticket-card .success {
    color: limegreen;
    font-weight: bold;
}

.ticket-card .failure {
    color: red;
    font-weight: bold;
}