.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* header, footer */
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* BuyTickets, Cart */
.column {
  display: flex;
  flex-direction: column;
}

/* eventCard, event */
.placeholder {
  opacity: 0.4;
  border-radius: 1rem;
  border: 2px solid var(--flair);
  height: 150px;
}

.lottie-loader {
  width: 300px;
  margin: auto;
}

.error,
.mandatory {
  color: red;
}

.error {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.3rem;
}

.invisible {
  visibility: hidden;
}